body {
    font-family: "Inclusive Sans", sans-serif !important;
    margin: 0;
    background-color: #141b1e;
    color: #dadada;
}

* {
    box-sizing: border-box;
}

/* Container for the whole layout */
#container {
    max-width: 1500px;
    margin: 0 auto;
}

/* General link styles */
#container a {
    color: #8ccf7e;
    font-weight: bold;
}

#container a:hover {
    color: #838887;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: #8ccf7e;
    cursor: pointer;
    margin-left: auto;
    padding: 5px;
}

/* Navigation bar styles */
#navbar {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #141b1e;
    width: 100%;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
    flex: 1;
}

#navbar li {
    padding-top: 10px;
}

#navbar li a {
    color: #8ccf7e;
    font-weight: 800;
    text-decoration: none;
}

#navbar li a:hover {
    color: #838887;
}
#navList .dropdown {
    position: relative; /* Ensure dropdown menu position relative to the parent li */
}

#navList .dropdown .dropdown-menu {
    display: none; /* Hide dropdown menu by default */
    position: absolute;
    top: 100%; /* Position dropdown below the parent li */
    left: 0;
    background-color: #141b1e;
    padding: 10px;
    list-style-type: none;
}

#navList .dropdown:hover .dropdown-menu {
    display: block; /* Show dropdown menu on hover */
}


/* Flex container for the layout */
#flex {
    display: flex;
}

/* Sidebar styles */
aside {
    background-color: #141b1e;
    width: 200px;
    padding: 20px;
    font-size: smaller;
}

/* Main content area */
main {
    background-color: #1c2724;
    flex: 1;
    padding: 20px;
    order: 2;
}

/* Grid styles */
.grid {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    align-items: center;
}


.item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

#toybox {
    width: 1100px;
    height: 700px;
    background: #1c2724;
    margin: 30px auto;
    position: relative;
  }

  #toybox>* {
    padding: 3px;
    transition-duration: 0.2s;
  }

  #toybox>*:hover {
    transform: scale(2);
    z-index: 30 !important;
    /* image-rendering: pixelated; */
  }

  #toybox img {
    width: 15%;
    height: auto;
  }

/* responsive design media query */
@media (max-width: 1400px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}
@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .hamburger {
        display: block; /* Show hamburger menu icon on smaller screens */
    }
    #navbar ul {
        display: none; /* Hide the navbar list by default on smaller screens */
        flex-direction: column; /* Stack items vertically */
        position: absolute;
        top: 40px; /* Position dropdown below navbar */
        left: 0;
        width: 100%;
        background-color: #141b1e;
        padding: 10px;
        z-index: 1000; /* Ensure it's on top of other content */
    }

    #navbar ul.active {
        display: flex; /* Show navbar list when active class is added */
    }

    #navbar li {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

/* Footer styles */
footer {
    background-color: #141b1e;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
}

/* Header styles */
h1,
h2,
h3 {
    color: #8ccf7e;
}

h1 {
    font-size: 25px !important;
}

/* Strong text styles */
strong {
    color: #8ccf7e;
}

/* Box styles */
.box {
    background-color: #1c2724;
    border: 1px solid #8ccf7e;
    padding: 10px;
}

/* Form styles */
.form {
    display: flex;
    margin: auto;
    justify-self: center;
    justify-content: center;
}

/* Top bar styles */
#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: #141b1e;
}